<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reminder</title>
  </head>
  <body>
    <h1>Reminder</h1>

    <a href="/users/reminder">Back to Reminder</a>

    <a href="/users/logout">Logout</a>

    <br>
    <br>

    <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %> <% } %>
      </ul>
      
    <form action="/users/add-reminder" method="POST">
        <div>
          <input type="date" id="date" name="date" placeholder="Date" required />
        </div>
        <div>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Title"
            required
          />
        </div>
        <div>
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Description"
            required
          />
        </div>
        <div>
          <input
            type="date"
            id="remind_date"
            name="remind_date"
            placeholder="Remind Date"
            required
          />
        </div>

        <div>
            <input
              type="time"
              id="remind_time"
              name="remind_time"
              placeholder="Remind Time"
              required
            />
          </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
  
        
      </form>



    
  </body>
</html>